.wrapper__info {
    height: 100dvh;
    width: 100vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: fadeInBlur 1s ease both;
    -webkit-animation: fadeInBlur 1s ease both;
    opacity: 1;
}



@keyframes fadeInBlur {
    from {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, .4);
        backdrop-filter: blur(30px);
    }

}

@-webkit-keyframes fadeInBlur {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, .4);
        -webkit-backdrop-filter: blur(30px);
    }

}