@use '../mixins' as m;
@use '../variables' as v;

.wrapper__info {
    height: 100dvh;
    width: 100vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: fadeInBlur 1s ease both;
    -webkit-animation: fadeInBlur 1s ease both;
    opacity: 1;
    overflow: scroll;
    padding: 10vh 0 20vh;



    h2 {
        font-size: 2.4rem;
        margin: 3rem 10vw;
        color: white;

        @include m.desktop {
            font-size: 3.4rem;
        }

        @include m.desktopXXL {
            margin-left: v.$XXL-padding;
        }
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: white;

        @include m.desktop {
            font-size: 2.4rem;
        }
    }

}

.text-block.info {

    padding-top: 0;

    @include m.desktopXXL {
        padding-left: v.$XXL-padding;
    }

}

.info__image {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 10vw;
    margin-bottom: 10vh;


    img {
        position: relative !important;
    }

    margin-bottom: 4rem;

    @include m.desktopXXL {
        padding-left: v.$XXL-padding;
    }

}




@keyframes fadeInBlur {
    from {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, .4);
        backdrop-filter: blur(30px);
    }

}

@-webkit-keyframes fadeInBlur {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, .4);
        -webkit-backdrop-filter: blur(30px);
    }

}