@use 'textblock' as tb;
@use '../variables' as v;
@use '../mixins' as m;

.presentation {
    background-color: v.$active;
    border-radius: v.$border-radius-standard;
    width: 80vw;
    margin: 10vw auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.1rem 0;

    @include m.tablet {
        padding: 3rem 0;
    }


    @include m.desktop {
        padding: 5.7rem;
    }

    @include m.desktopXXL {
        width: 40vw;
        margin: auto;
        padding: 2rem;
    }

    &__text {
        width: auto;
        padding-top: unset;
        color: v.$primary-color;
    }
}

.text-block.presentation__text {
    @include m.desktopXXL {
        padding-left: 10vw;
    }
}

.contact-links {
    padding-top: unset;
    @extend .text-block;
    padding-left: 10vw;
    color: v.$primary-color;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
    list-style: none;

    li {
        text-decoration: underline;
        padding: unset;

        &:hover {
            color: v.$not-valid;
        }

        a:focus-visible {
            outline-color: v.$not-valid;
        }

    }

    .contact-avatar {
        width: 45px;
        height: 45px;
    }

}