@use 'textblock' as tb;
@use '../variables' as v;
@use '../mixins' as m;

.presentation {
    background-color: v.$active;
    width: 100vw;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.1rem 0;

    @include m.tablet {
        padding: 3rem 0;
        margin: 10vw auto;
        width: 80vw;
        border-radius: v.$border-radius-standard;
    }

    @include m.desktop {
        padding: 5.7rem;
    }

    @include m.desktopXXL {
        margin: auto;
        padding-bottom: 0;
    }

    &__text {
        width: auto;
        padding-top: unset;
        color: v.$primary-color;

        @include m.desktopXXL {
            width: 100%;
            padding: 0;

            #presentation__text {
                max-width: unset;
            }
        }
    }

    .text-block {
        @include m.desktop {
            padding: 0;
        }
    }
}

#presentation__text--footer {
    max-width: 1200px;
    @extend .presentation__text;
    padding: 5rem 0 3rem 0;
    line-height: 1.3;
    font-size: .8rem;
    justify-content: center;

    @include m.desktop {
        font-size: 1rem;
    }
}

.contact-links {
    padding-top: unset;
    @extend .text-block;
    // padding-left: 10vw;
    color: v.$primary-color;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1rem;
    list-style: none;

    li {
        text-decoration: underline;
        padding: unset;

        &:hover {
            color: v.$not-valid;
        }

        a:focus-visible {
            outline-color: v.$not-valid;
        }
    }

    .contact-avatar {
        @include m.desktop {
            width: 45px;
            height: 45px;
        }
    }

    @include m.desktopXXL {
        padding: 0;
    }
}