@use '../variables' as v;
@use '../mixins' as m;
@use '../keyframes' as k;

.current-trips {
    position: absolute;
    top: 12vh;
    left: 2vw;
    width: auto;
    max-width: 70vw;
    height: auto;
    max-height: 80dvh;
    overflow: hidden;
    color: v.$secondary-color;
    padding: 0;
    background-color: v.$primary-color;
    border: solid 5px v.$active;
    border-radius: v.$border-radius-standard;
    transition: all .5s ease
}

.table-container {
    position: relative;
    overflow-y: auto;
    max-height: 70dvh;
    padding: v.$padding-textBox v.$padding-textBox 0 v.$padding-textBox;
    transition: all .5s ease;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
        display: none;
    }

    .trips-header {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    h3 {
        color: v.$tertiary-color;
    }

    &.--overflowing {

        &::after {
            content: '';
            display: block;
            position: sticky;
            bottom: 0;
            left: 0;
            right: 0;
            height: 80px;
            margin-top: -80px;
            background: linear-gradient(to bottom,
                    rgba(v.$primary-color, 0) 0%,
                    rgba(v.$primary-color, .8) 50%,
                    v.$primary-color 100%);
            pointer-events: none;
        }

        &:not(.--at-bottom)::after {
            animation: fadeGradientIn 0.25s ease-in-out both;
            will-change: opacity;
        }

        &.--at-bottom::after {
            animation: fadeGradientOut 0.25s ease-in-out both;
            will-change: opacity;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        caption {
            font-size: 1rem;
            font-weight: 700;
            padding: 1vh 0;
            text-align: left;
        }

        .trip-row {
            height: 44px;
        }

        tr {
            border-bottom: solid 1px v.$active;
        }

        tr:last-of-type {
            border-bottom: none;
        }

        td:first-child,
        th {
            text-align: left;
        }

        td:last-child,
        th:last-child {
            text-align: right;
        }

        @include m.desktop {
            left: 5vw;
            max-height: 80vh;

            .trip-row {
                height: 52px;
            }
        }

    }
}

.updated-time {
    text-decoration: line-through;
    color: v.$updated-time;
}

.next-departure {
    font-weight: 700;
    padding: .4rem;
    border-radius: 5px;
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
    text-align: left;
    margin: 1rem 0;
    font-size: 1rem;
    transition: filter 0.2s ease;

    @include m.desktop {
        font-size: 1.2rem;
    }

    & .time {
        font-size: 1.2rem;
        font-weight: 400;
        align-items: center;
        display: flex;
        gap: .2rem;

        @include m.desktop {
            font-size: 1.4rem;
        }

        span {
            font-weight: 700;

        }

        & .arrow {
            transform: translateY(3px);
        }
    }

    & .updated-time {
        color: v.$not-valid;
        font-weight: 400;
    }

}

.trip-row {
    transition: background-color 0.2s ease;

}


.trip-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: none;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    transform: translate(2px, -2px);
    border: solid 1px v.$accent-color;
}

.--active {
    cursor: pointer;

    &:hover {
        background-color: rgba(213, 213, 213, 0.05);
    }

    &.next-departure {
        cursor: pointer;

        &:hover {
            background-color: rgb(33, 33, 33);
            filter: brightness(1.1);
        }

        .trip-icon {
            transform: translate(2px, 0);
        }
    }

    .trip-icon {
        background-color: v.$accent-color;
        transform: translate(2px, -2px);
    }




}