@use '../variables' as v;
@use 'sass:color';
@use '../keyframes';
@use '../mixins' as m;

$wrapper-size: 80px;
$marker-size: 32px;
$size-active: 24px;
$userSize: 24px;
$userColor: rgb(0, 149, 255);

.marker-wrapper {
    width: $wrapper-size;
    height: $wrapper-size;
    position: relative;
    cursor: pointer;

    &.marker-hidden {
        visibility: hidden;
    }
}

.marker-wrapper .custom-marker {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.custom-marker {
    width: $marker-size;
    height: $marker-size;
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
    float: none;
    background: color.adjust(v.$accent-color, $lightness: 5%);
    border: 2px solid rgb(0, 0, 0);
    backface-visibility: hidden;
    transition: all .3s ease;
    animation: markerPulse 2s 0s ease-out infinite;

    &.--active {
        width: $size-active;
        height: $size-active;
        outline: 7px solid v.$active;
        border: 7px solid v.$active;
        background: v.$primary-color;
        animation: markerPulse 0.7s ease-out infinite;
    }
}

.line-destination-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: fit-content;
    height: fit-content;
    background: rgba(v.$primary-color, 0.85);
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid v.$primary-color--muted;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    transition: all 0.3s v.$bounce;
    opacity: 0;
    white-space: nowrap;
    @include m.backdropFilter;

    &.--visible {
        opacity: 1;
        transform: translate(15%, -75%);
    }
}

.line-text {
    font-size: 10px;
    font-weight: 400;
    color: white;
}

.line-text__number {
    font-weight: 700;
}

.line-text__destination {
    font-weight: 400;
}

.user-location {
    @extend .custom-marker;
    position: relative;
    height: $userSize;
    width: $userSize;
    background: $userColor;
    margin: 0;
    float: none;

    animation: markerPulse 0.5s 3s ease-out 2;
    cursor: default;
    opacity: 0;
    transition: opacity 0.3s v.$bounce;

    &.--visible {
        opacity: 1;
    }
}

.user-location__container {
    @extend .line-destination-container;

    &.--visible {
        opacity: 1;
        transform: translate(25%, -25%);
    }
}

.user-location__text {
    @extend .line-text;

}