@use '../mixins' as m;

.demo-map {
    position: absolute;
    bottom: 10dvh;
    left: 0px;
    width: 100vw;
    height: 40vh;
    pointer-events: none;
    animation: fadeInFromLeft 0.5s ease;

    &.about-page {
        position: relative;
        height: 0;

        @include m.tablet {
            height: 60px;
        }

        @include m.desktop {
            height: 200px;
        }
    }
}

.demo-popup {
    animation: fadeOnly 0.3s 2s ease both;

    @media screen and (max-width: 768px) {
        transform: scale(2.5);
    }
}