@use '../mixins' as m;
$containerWidth: 309.5px;

.header__container {
    width: auto;
    left: calc(50vw - ($containerWidth / 2));
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 100px;
    top: 1.9rem;
    z-index: 1;
    pointer-events: none;
    @include m.backdropFilter;
}