@use '../variables' as v;
@use '../mixins' as m;


.info-window {
    position: absolute;
    top: 10vh;
    right: 5vw;
    width: 250px;
    // height: auto;
    max-width: 70vw;
    z-index: 2;

    background-color: v.$primary-color;
    color: white;
    border: solid 5px v.$active;
    padding: v.$padding-textBox;
    border-radius: v.$border-radius-standard;

    h2 {
        font-size: 1.3rem;
        line-height: 1.5;

    }

    #final-station {
        font-style: italic;
        font-weight: 300;
    }

    p {
        font-size: 1rem;
    }

    @include m.desktop {
        right: 10vw;
    }
}