@use '../variables' as v;
@use '../mixins' as m;


.info-window {
    position: absolute;
    top: 12vh;
    left: 2vw;
    max-width: 250px;
    max-width: 70vw;
    z-index: 2;
    max-height: 50vh;
    overflow: auto;
    background-color: v.$primary-color;
    color: v.$secondary-color;
    border: solid 5px v.$active;
    padding: v.$padding-textBox;
    border-radius: v.$border-radius-standard;

    &.--overflowing {
        @include m.overFlowing;
    }

    @include m.desktop {
        top: 12vh;
        right: 2vw;
        left: unset;
        bottom: unset;
    }

    h2 {
        font-size: 1.3rem;
        line-height: 1.5;

    }

    #final-station {
        font-style: italic;
        font-weight: 300;
    }

    p {
        font-size: 1rem;
    }

    @include m.desktop {
        right: 10vw;
    }
}