@use '../variables' as v;
@use '../mixins' as m;
@use '../keyframes';

.error-message {
    color: v.$secondary-color;
    transition: all .3s ease;
    font-size: .9rem;
    margin-top: .5rem;
    text-align: left;
    position: absolute;
    top: v.$input-height;
    left: 0;
    background-color: v.$not-valid;
    padding: .5rem 1rem;
    width: 100%;
    animation: drop .3s v.$bounce both 1s;
    transform-origin: top;
    overflow: hidden;
    pointer-events: auto;

    a {
        text-decoration: underline;
        font-weight: 700;
    }
}

.warn-message {
    @extend .error-message;
    background-color: v.$accent-color;
    color: v.$primary-color;
    border-radius: 5px;
    bottom: 75px;
    top: unset;

    @include m.desktop {
        bottom: 0;
    }

    .no-position-icon {
        transform: translate(-4px, 4px);
    }
}