@use '../variables' as v;
@use '../mixins' as m;

$containerWidth: 278px;


.search-bar__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    top: 1vh;
    z-index: 1;
    pointer-events: none;
    transition: all .5s ease;
    @include m.backdropFilter;

    &.--active {
        top: calc(50vh - 4rem);
        margin-top: calc(50vh - 4rem);
        transform: scale(1.2);
        border: 2px white solid;

        @include m.desktop {
            transform: scale(1.5);
        }
    }

    form {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        pointer-events: all;
        gap: 4px;
        border-radius: 100px;
        padding: 0.3rem 1rem;
        background: v.$primary-color;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        opacity: 80%;
        width: 100%;

        input {
            background: v.$primary-color;
            color: v.$secondary-color;
            border: none;
            padding: 1rem;
            font-size: 1rem;
            font-weight: 700;
            display: flex;
            width: auto;
            transition: all .3s ease;
            max-width: 51vw;
            max-height: 18vw;

            &::placeholder {
                color: v.$tertiary-color;
            }

            &:focus {
                outline-color: v.$accent-color;
            }

            &:not(:valid) {
                color: v.$not-valid;
                outline-color: v.$not-valid;
            }

            &:not(:placeholder-shown) {
                width: 160px;
            }
        }

        button {
            background: transparent;
            padding: .2rem;
        }

        button[type="submit"] {
            display: none;
        }
    }

}

.error-message {
    color: v.$secondary-color;
    transition: all .3s ease;
    font-size: .9rem;
    margin-top: .5rem;
    text-align: left;
    position: absolute;
    bottom: -4.2rem;
    left: 0;
    background-color: v.$not-valid;
    padding: .5rem 1rem;
    width: 100%;
    animation: drop ease .3s;
    transform-origin: top;
    overflow: hidden;
}

@keyframes drop {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }

}

.overlay {
    position: absolute;
    top: -10px;
    left: 0;

    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
    display: none;
    pointer-events: none;
    transition: all .5s ease;

    &.--active {
        animation: fade 1s ease both;
        display: block;
    }
}

@keyframes fade {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }

}