@use '../variables' as v;

.search-bar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    gap: 4px;
    border-radius: 100px;
    padding: 0.3rem 1rem;
    background: v.$primary-color;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 80%;




    input {
        background: v.$primary-color;
        color: v.$secondary-color;
        border: none;
        padding: 1rem 2rem;
        font-size: 1rem;
        font-weight: 700;
        transition: background-color 0.3s;
        display: flex;
        width: 100%;

        &::placeholder {
            color: v.$tertiary-color;
        }
    }

    button {
        background: transparent;
        padding: .2rem;
    }
}