@import '../variables';

.text-block {
    padding-top: 20rem;
    text-align: center;

    color: $secondary-color;

    h1 {
        font-size: 6rem;
        font-weight: 700;
    }

    p {
        font-size: 2rem;
    }
}