@use 'variables' as v;

@keyframes sizeBlink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@mixin sizeBlink {
    animation: sizeBlink 0.3s ease-in-out forwards;
    will-change: transform;
}

@keyframes pulse-border {
    0% {
        box-shadow: 0 0 0 2px v.$accent-color;
    }

    50% {
        box-shadow: 0 0 0 2px v.$accent-color-light;
    }

    100% {
        box-shadow: 0 0 0 2px v.$accent-color;
    }
}

@mixin pulseBorder {
    animation: pulse-border 1.5s linear infinite;
    will-change: transform;
}

@keyframes fadeGradientIn {

    0%,
    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeGradientOut {
    0% {
        opacity: 1;
    }

    80%,
    100% {
        opacity: 0;
    }
}

@keyframes loaderPulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes markerPulse {
    10% {
        box-shadow: 0 0 8px 6px rgba(0, 153, 255, 0.092), 0 0 12px 10px rgba(0, 153, 255, 0.078), 0 0 12px 14px rgba(0, 153, 255, 0.035);
    }

    100% {
        box-shadow: 0 0 8px 6px rgba(0, 153, 255, 0.213), 0 0 0px 30px rgba(0, 153, 255, 0.046), 0 0 0px 30px rgba(0, 153, 255, 0.036);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
        height: auto;
        padding: inherit;
        margin: inherit;
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
        height: 0;
        padding: 0;
        margin: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeTable {
    from {
        opacity: 1;
    }

    70% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUpTableRow {
    from {
        transform: translateY(0);
        filter: blur(0px);
    }

    50% {
        transform: translateY(-3px);
        filter: blur(2px);
    }

    to {
        transform: translateY(0);
        filter: blur(0px);
    }
}

@keyframes fadeOnly {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes drop {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}