//colors
$primary-color: #141314;
$secondary-color: whitesmoke;
$tertiary-color: #9CA3AF;
$accent-color: #00ffb3;
$secondary-color--hover: rgb(189, 189, 189);
$active: #EAB308;
$not-valid: rgb(161, 20, 20);
$updated-time: #EF4444;


//margins & sizes
$large-margin-top: 20vh;
$large-margin-bottom: 50vh;
$padding-textBox: 1rem;
$border-radius-standard: 20px;
$XXL-padding: 40vw;
$input-height: 52px;