//colors
$primary-color: #111111;
$secondary-color: whitesmoke;
$tertiary-color: #9CA3AF;
$accent-color: #00ffb3;
$secondary-color--hover: rgb(189, 189, 189);
$active: #EAB308;
$not-valid: rgb(161, 20, 20);


//margins
$large-margin-top: 20vh;
$large-margin-bottom: 30vh;
$padding-textBox: 1rem;
$border-radius-standard: 20px;