//colors
$primary-color: #19181a;
$secondary-color: whitesmoke;
$tertiary-color: rgb(157, 156, 156);
$accent-color: #00ffb3;
$secondary-color--hover: rgb(189, 189, 189);
$active: #ffff64;
$not-valid: rgb(161, 20, 20);


//margins
$large-margin-top: 20vh;
$large-margin-bottom: 30vh;
$padding-textBox: 1rem;
$border-radius-standard: 20px;