@use 'variables' as v;

:root {
    --primary: #{v.$primary-color};
    --secondary: #{v.$secondary-color};
    --secondary-hover: #{v.$secondary-color--hover};
    --tertiary: #{v.$tertiary-color};
    --accent-color: #{v.$accent-color};
    --not-valid: #{v.$not-valid};
    --active: #{v.$active};
}