@use 'variables' as v;

:export {
    primary: v.$primary-color;
    secondary: v.$secondary-color;
    secondaryHover: v.$secondary-color--hover;
    tertiary: v.$tertiary-color;
    accentColor: v.$accent-color;
    notValid: v.$not-valid;
    active: v.$active;
}