@use '../mixins' as m;
@use '../variables' as v;

.wrapper__info {
    width: 100vw;
    animation: fadeInBlur 1s ease both;
    -webkit-animation: fadeInBlur 1s ease both;
    opacity: 1;
    overflow-y: hidden;
    overflow-x: hidden;

    &:nth-child(2) {
        section:not(.presentation) {
            margin-bottom: 6rem;

            @include m.desktop {
                justify-content: center;
                gap: 5rem;
                padding: 0 6vw;
            }
        }
    }

    @include m.desktop {
        padding: 10vh 0 10vh;
    }

    h1 {
        font-size: 2.6rem;
        text-align: left;
        margin: 0;
        width: 80vw;
        color: white;

        @include m.desktop {
            margin: 0;
            width: auto;
            font-size: 7rem;
        }

        @include m.desktopXXL {
            text-align: center;
        }
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: white;

        @include m.desktop {
            font-size: 2.4rem;
        }
    }

    .align-items-center {
        align-items: center;
    }
}

.h1-section {
    justify-content: space-around;
    display: flex;
    margin: 3rem 0 !important;
}

.text-block.info {
    height: 100%;
    padding-top: 0;
}

.client-wrapper {
    .text-block {
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        opacity: 0;
        transform: translateX(-20px);

        &.presentation__text {
            opacity: 0;
            transform: translateY(20px);
        }
    }

    .info__image {
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        opacity: 0;
        transform: translateX(20px);
        position: relative;
        width: 100%;
        margin: 0;
        min-height: 750px;
        min-width: 350px;

        @include m.desktop {
            margin: 2rem 0 8rem;
        }

        img {
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;

            @include m.desktop {
                object-position: left;
            }
        }
    }

    .contact-links>* {
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        opacity: 0;
        transform: translateY(20px);

        &:nth-child(2) {
            transition-delay: 0.3s;
        }

        &:nth-child(3) {
            transition-delay: 0.6s;
        }

        &:nth-child(4) {
            transition-delay: 0.9s;
        }
    }
}

.client-wrapper.visible {
    .text-block {
        opacity: 1;
        transform: translateX(0);

        &.presentation__text {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .info__image {
        opacity: 1;
        transform: translateX(0);
        transition-delay: .5s;
    }

    .contact-links>* {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInBlur {
    from {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, .4);
        backdrop-filter: blur(30px);
    }
}

@-webkit-keyframes fadeInBlur {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, .4);
        -webkit-backdrop-filter: blur(30px);
    }
}