@use '../mixins' as m;
@use '../variables' as v;

.wrapper__info {
    height: 100dvh;
    width: 100vw;
    animation: fadeInBlur 1s ease both;
    -webkit-animation: fadeInBlur 1s ease both;
    opacity: 1;
    overflow-y: scroll;
    overflow-x: hidden;

    @include m.desktop {
        padding: 10vh 0 10vh;
    }

    h1 {
        font-size: 4rem;
        margin: 7vw 2vw;
        color: white;

        @include m.desktop {
            margin: 0 0 7vw;

            font-size: 7rem;
        }

        @include m.desktopXXL {
            margin-left: v.$XXL-padding;
        }
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: white;

        @include m.desktop {
            font-size: 2.4rem;
        }
    }

    .align-items-center {
        align-items: center;
    }
}

.text-block.info {
    height: 100%;
    padding-top: 0;

    @include m.desktopXXL {
        padding-left: v.$XXL-padding;
    }

}

.client-wrapper {
    .text-block {
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        opacity: 0;
        transform: translateX(-20px);

        &.presentation__text {
            opacity: 0;
            transform: translateY(20px);
        }
    }

    .info__image {
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        opacity: 0;
        transform: translateX(20px);
        position: relative;
        width: 100%;
        padding: 0 10vw;
        margin: 0;

        @include m.desktop {
            margin: 2rem 0 8rem;
        }

        img {
            position: relative !important;

            @include m.desktop {
                position: absolute !important;
            }
        }

        @include m.desktopXXL {
            padding-left: v.$XXL-padding;
        }
    }


    .contact-links>* {
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        opacity: 0;
        transform: translateY(20px);

        &:nth-child(2) {
            transition-delay: 0.3s;
        }

        &:nth-child(3) {
            transition-delay: 0.6s;
        }

        &:nth-child(4) {
            transition-delay: 0.9s;
        }
    }
}

.client-wrapper.visible {

    .text-block {
        opacity: 1;
        transform: translateX(0);

        &.presentation__text {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .info__image {
        opacity: 1;
        transform: translateX(0);
    }

    .contact-links>* {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes fadeInBlur {
    from {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, .4);
        backdrop-filter: blur(30px);
    }

}

@-webkit-keyframes fadeInBlur {
    from {
        background: rgba(0, 0, 0, 0);
        -webkit-backdrop-filter: blur(0);
    }

    to {
        background: rgba(0, 0, 0, .4);
        -webkit-backdrop-filter: blur(30px);
    }

}