@use '../../variables' as v;
@use '../../mixins' as m;

$containerWidth: 326px;
$selectionWidth: 2rem;
$outerPadding: 5px;
$barHeight: 4px;


.wrapper {
    position: fixed;
    left: calc(50vw - ($containerWidth / 2));
    width: auto;
    border-radius: 100px;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    @include m.backdropFilter;
}

.outer-container {
    padding: 5px 2px 1px 2px;
    background-color: v.$primary-color;
    border-radius: 24.5px + $outerPadding;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 80%;
}


.inner-container {
    display: flex;
    justify-content: space-between;
    background-color: v.$primary-color;
    border-radius: 24.5px;
    border: 1px solid v.$tertiary-color;
    // padding: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
    font-size: 14px;
    height: 40px;
    padding: 1.4rem 1.6rem;
    gap: 8px;
    color: v.$secondary-color;

    &:nth-child(2) {
        border-right: 1px solid v.$tertiary-color;
        border-left: 1px solid v.$tertiary-color;
    }
}

.menu-bar__outer-container {
    display: flex;
    width: 100%;
    height: $barHeight;
    justify-content: center;
    align-items: center;

    .menu-bar__inner-container {
        transition: padding-left .5s cubic-bezier(0.375, 1.650, 0.180, 0.805);
        width: 322px;

        &.home {
            padding-left: 3.3rem;
        }

        &.map {
            padding-left: calc(50% - 1rem);
        }

        &.info {
            padding-left: calc(100% - 4.3rem)
        }

        .menu-bar__selection {
            background-color: v.$secondary-color;
            width: 2rem;
            height: $barHeight;
            border-radius: 50px;

        }
    }
}