@use '../../variables' as v;
@use '../../mixins' as m;
@use '../../keyframes' as k;

$containerWidth-small: 90vw;
$containerWidth-desktop: 25vw;
$selectionWidth: 2rem;
$outerPadding: 5px;
$barHeight: 4px;
$menuItemWidth: 8rem;
$menuBarWidth: 2rem;
$menuMaxWidth: 440px;


nav.wrapper {
    position: fixed;
    left: calc(50vw - ($containerWidth-small / 2));
    width: $containerWidth-small;
    border-radius: 100px;
    bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: transparent;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: inherit;
        @include m.backdropFilter;
    }

    @include m.desktop {
        left: calc(50vw - ($containerWidth-desktop / 2));
        width: $containerWidth-desktop;
        left: calc(50vw - ($menuMaxWidth / 2));
        max-width: $menuMaxWidth;
    }

    @include m.desktopXXL {}
}

.outer-container {
    width: 100%;
    padding: $barHeight;
    background-color: v.$primary-color;
    border-radius: 24.5px + $outerPadding;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 80%;
}

.inner-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: v.$primary-color;
    border-radius: 24.5px;
    border: 1px solid v.$tertiary-color;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 2;
    font-size: .8rem;
    height: 40px;
    padding: 1.4rem auto;
    gap: 8px;
    color: v.$tertiary-color;
    will-change: transform;


    &.active {
        color: v.$secondary-color;
    }

    &.clicked {
        @include k.sizeBlink;
    }
}

.menu-bar__outer-container {
    display: flex;
    width: 100%;
    height: $barHeight;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2.7px;
    left: 0;

    .menu-bar__inner-container {
        transition: padding-left .5s cubic-bezier(0.375, 1.650, 0.180, 0.805);
        width: 100%;

        &.home {
            padding-left: calc(($menuItemWidth / 2) - ($menuBarWidth / 2));
        }

        &.map {
            padding-left: calc(50% - ($menuBarWidth / 2));
        }

        &.info {
            padding-left: calc(100% - ($menuItemWidth / 2) - ($menuBarWidth / 2));
        }

        &.not-found {
            visibility: hidden;
        }

        .menu-bar__selection {
            background-color: v.$secondary-color;
            width: $menuBarWidth;
            height: $barHeight;
            border-radius: 50px;


        }
    }
}